//c
$c_primary_black: #0B0B0B;
$c_primary_white: #FFFFFF;
$c_primary_blue: #0A66FF;
$c_primary_gray: #6b7280;
$c_white_mint: #f3f4f6;
$c_trasnparent_gray: hsla(0, 0%, 0%, 0.078);
$c_light_gray: rgba(255, 255, 255, 0.6);
$c_stroke_gray: rgba(255, 255, 255, 0.15);
$c_black_gray: rgb(243, 244, 246);
$c_black_transparent: rgba(255, 255, 255, 0.051);
$c_form_text: rgba(255, 255, 255, 0.4);

//fw
$fw_norm: 400;
$fw_medium: 500;
$fw_semiBold: 600;
$fw_bold: 700;

// fs
$fs_3xl: 72px;
$fs_2xl: 56px;
$fs_xl: 28px;
$fs_l: 22px;
$fs_m: 18px;
$fs_s: 16px;
$fs_xs: 14px;
$fs_2xs: 12px;

//pt
$pt_2xl: 140px;
$pt_xl: 120px;
$pt_l: 40px;
$pt_m: 28px;
$pt_s: 14px;

//pr
$pr_2xl: 80px;
$pr_xl: 48px;
$pr_l: 40px;
$pr_m: 32px;
$pr_s: 24px;

//gap
$gap_xl: 80px;
$gap_l: 40px;
$gap_m: 30px;
$gap_s: 24px;
$gap_xs: 16px;
$gap_2xs: 12px;

//brad
$brad_8: 8px;
$brad_12: 12px;