.CooperationBlock{
    width: 100%;
    padding: $pr_xl;
    display: flex;
    flex-wrap: wrap;
    gap: $gap_l;

    &_img{
        width: 64px;
        height: 64px;
        background-color: $c_white_mint;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: $brad_8;
    }
}