.Cooperation{
    min-height: 100vh;
    width: 100%;
    background-color: $c_white_mint;

    &_container{
        padding: $pt_xl $pr_l;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap_xl;
        @media(max-width: 900px){
            padding: $pt_l $pr_s;
            gap: $gap_xs;
        }
    }

    &_list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap_l;
    }
}