.RunningLine{
    width: 100%;
    overflow: hidden;
    padding: 20px 0px;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 12%, #000 88%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, #000 12%, #000 88%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    &_track{
        display: flex;
        align-items: center;
        gap: 48px;
        width: max-content;
    }

    &_img{
        opacity: .6;
        user-select: none;
        flex-shrink: 0;
    }
}
